
body {
	margin-left: 10%;
	margin-right: 10%;
	background-color: white;
	margin-bottom: 5%;
	margin-top: 1%;
	}

h1 {
	margin-left: -8%
}
h2,h3,h4,h5 {
	margin-right: -4%
}

.title {
	border:	solid;
	border-width: 
	thin;
	font-size: 20px;
}

.title thead th{
	border:	solid;
	border-width: 
	thin; width: 100%;
	font-size: 20px;
	background-color: #FF9966
}
	
.title tbody td{
	border:	solid;
	border-width: 
	thin; width: 100%;
	font-size: 20px;
	background-color: white
}

div.box {
	 border: dashed; 
	 border-width: 
	 thin;
	 background-color: #FFFFCC;
	 
}