
/* body { */
/* 	margin-left: 10%; */
/* 	margin-right: 10%; */
/* 	background-color: white; */
/* 	margin-bottom: 5%; */
/* 	margin-top: 1%; */
/* 	} */

h1 {
	margin-left: -8%
}
h2,h3,h4,h5 {
	margin-right: -4%
}

.title {
	border:	solid;
	border-width: thin;
	
	
}

.title thead th{
	border:	solid;
	border-width: thin; 
	background-color:  	#504A4B;
	text-align: center;
}> li > a
	
.title tbody td{
	border:	solid;
	border-width: 
	thin; 
	background-color: #FEFCFF;
}

div.custom {
	 background-color: #2B3856;
	 min-height:20px;
}

div.custom > li > a{
	 padding-top:2px; 
	 padding-bottom:2px;
}

div.custom ul > li > a{
	 padding-top:1px; 
	 padding-bottom:1px;
	 font-size:small; 
}

a.brand {
	 padding-top:1px; 
	 padding-bottom:1px;
	 font-size:small; 
}

