body, table {
	padding: 0px;
	background: #F5F5DC;
	color: #000;
}


.headtitle-link a{
  color: #D1D0CE;
  text-decoration: none;
  font-size:15px
}

.title {
	border:	solid;
	border-width: thin;
}

.title thead th{
	border:	solid;
	border-width: thin; 
	background-color:  	#504A4B;
	text-align: center;
}> li > a
	
.title tbody td{
	border:	solid;
	border-width: 
	thin; 
	background-color: #FEFCFF;
}

div.custom {
	 background-color: #2B3856;
	 min-height:20px;
}

.colordiv div{
	background-color:  	#504A4B;
}
div.custom > li > a{
	 padding-top:2px; 
	 padding-bottom:2px;
}

div.custom ul > li > a{
	 padding-top:1px; 
	 padding-bottom:1px;
	 font-size:small; 
}

a.brand {
	 padding-top:1px; 
	 padding-bottom:1px;
	 font-size:small; 
}

